body {
  font-family: Arial, sans-serif;
}

nav {
  background-color: #333;
  padding: 10px;
  display: flex;
}

nav button {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
  padding: 5px 10px;
}

nav button:hover,
nav button.active {
  text-decoration: underline;
  font-weight: bold;
}


#mainContent {
  padding: 0;
}
#mainIframe {
  width: 100%;
  height: 80vh;
  border: none;
  display: block;
}
